<footer>
    <section class="lower-footer mt-5">
        <div class="container p-0">

            <h5>
                <small class="text-black caption">
                    Head office
                </small>
            </h5>

            <p class="text-black" style="font-size: 1rem;">
                429 Mahando Street, 104 Block C, <br />
                Masaki, Dar es salaam
            </p>
            <img src="assets/svg/logo.svg" class="mt-2" width="160" alt="Id8 primary logo">

            <hr class="mt-5" />
            <div class="d-flex w-100 content-bar my-4">
                <ul class="footer-list left my-auto">
                    <li>
                        &#169; 2021 id8 space. All rights reserved.
                    </li>
                </ul>
                <div class="footer-list right">
                    <app-socials></app-socials>
                </div>
            </div>
        </div>
    </section>
</footer>