//******************* Classes *******************//

.bg-hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
                        url(../../../assets/img/hero.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .hero-text {
        h1 {
            font-size: 3.5rem;
            span.hero-caption {
                font-size: 1.275rem;
                color: var(--id-primary-color);
                font-weight: 400;

                @media only screen and (min-width: 720px) {
                    font-size: 2rem;
                }
            }

            @media only screen and (min-width: 720px) {
                font-size: 9rem;
            }
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 200;
            font-family: var(--id8-secondary-font);

            @media only screen and (min-width: 720px) {
                font-size: 2rem;
            }
        }



    }

    button {
        font-size: calc(12px + .2vw) !important;
        padding: 1rem 2rem;
        background-color: var(--id-secondary);
    }
}


h2 {
    font-weight: 400;
    font-size: 3rem;
    @media only screen and (min-width: 720px) {
        
    }
}

h2.work-spaces-heading {
    margin: 5rem 0rem;
    margin-top: 12.5rem;
    @media only screen and (min-width: 720px) {
        margin: 8rem 0rem;
    }
}

.image-holder, .image-holder-2 {
    display: block;
    position: relative;
    height: 100%;

    @media only screen and (max-width: 600px) {
        min-height: 400px;
        transform: scale(1);
    }

    &::before {
        content: '';
        position: absolute;
        // transform: scale(-1);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }
    
    img {
        object-fit: cover;
        position: absolute;
        width: 80%;
        border-radius: .35rem;
        height: auto;
        left: 50%;
        top: 40%;
        
        transform: translate(-50%,-50%);
        /* or 3d alternative if you will add animations (smoother transitions) */
        transform: translate3d(-50%,-50%,0);
    }

    .img1 {
        transform: translate(-40%,-100%);
    }

    .img2 {
        transform: translate(-80%,-40%);
    }

    .img3 {
        transform: translate(-30%,20%);
    }
}


.image-holder::before {
    background-size: contain;
    background-image: url(../../../assets/svg/blob-2.svg);
    transform: scale(1);
    width: 100%;

    
    @media only screen and (min-width: 720px) {
        top: 2rem;
        left: -5rem;
        transform: scale(1.2);

    }
}

.image-holder-2::before {
    top: 2rem;
    left: 0rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../assets/svg/blob-1.svg);
    
    @media only screen and (min-width: 720px) {
        transform: scale(.8);
        right: -4rem;
    }
}

.image-holder-2 {
    img {
        left: 75%;
        top: 48%;
        width: 100%;
        transform: translate(-50%,-50%);
        /* or 3d alternative if you will add animations (smoother transitions) */
        transform: translate3d(-50%,-50%,0);
        @media only screen and (min-width: 720px) {
            width: 50%;
        }
    }
    .img2 {
        transform: translate(-80%,-70%);

        @media only screen and (min-width: 720px) {
            transform: translate(-50%,-70%);
        }
    }

    .img3 {
        transform: translate(-59%,-10%);
        
        @media only screen and (min-width: 720px) {
            transform: translate(-20%,-10%);
        }
        
    }
}



// form 
.contacts-form {
    color: var(--id-black);
    font-size: 16px !important;
    border-radius: .275rem;
    padding-bottom: 4rem;
    background-color: var(--id-white);
    padding: 2.85rem 1.85rem;
    box-shadow: 0rem .275rem 1rem rgba(0, 0, 0, .4);
    
    @media only screen and (min-width: 720px) {
        padding: 2.85rem 3.5rem;
    }
    label {
        color: var(--id-black);
        margin: .725rem 0rem;
    }

    .form-group {
        width: 100%;

        @media only screen and (min-width: 720px) {
            width: 90%;
        }

        input {
            height: 48px;
        }
    }
}

.form-img {
    object-fit: cover;
}

.form-img-holder {
    position: relative;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 720px) {
        padding-top: 8rem;
    }

    img {
        
        @media only screen and (min-width: 720px) {
            position: absolute;
            right: -5rem;
        }
    }


}

.form {
    margin-top: 10rem;
}


.space-listing {
    @media only screen and (min-width: 720px) {
        margin: 8rem 4rem;
    }
}